.dino {
    position: absolute;
    bottom: 0;
    background-image: url('img/t-rex.png');
    width: 60px;
    height: 60px;
}

.obstacle {
    position: absolute;
    bottom: 0;
    background-image: url('img/cacti.png');
    width: 60px;
    height: 60px;
}

@keyframes slideright {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0%;
    }
}

@-webkit-keyframes slideright {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0%;
    }
}

#desert {
    position: absolute;
    bottom: 0px;
    background-image: url('img/t-rex-background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}